packaging_format = 2

id = "synapse"
name = "Synapse"
description.en = "Instant messaging server which uses Matrix"
description.fr = "Serveur de messagerie instantané basé sur Matrix"

version = "1.148.0~ynh1"

maintainers = ["Josué Tille"]

[upstream]
license = "AGPL-3.0,Apache-2.0"
website = "https://matrix.org/"
code = "https://github.com/element-hq/synapse"
admindoc = "https://matrix-org.github.io/synapse/latest/welcome_and_overview.html"
cpe = "cpe:2.3:a:matrix:synapse"
fund = "https://matrix.org/support/#"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = [
    "amd64",
    "armhf",
    "arm64"
]
multi_instance = true
ldap = true
sso = true
disk = "250M"
ram.build = "500M"
ram.runtime = "3G"

[install]
    [install.domain]
    # this is a generic question - ask strings are automatically handled by Yunohost's core
    type = "domain"

    [install.server_name]
    ask.en = "Chose a server name if (optional)"
    ask.fr = "Choissez un nom de serveur (optionnel)"
    help.en = "If your Synapse domain is a subdomain, you can choose a name for your Synapse server to have your Matrix user-ids looking like @user:domain.org instead of @user:synapse.domain.org. Leave the value empty to use the same value than the domain."
    help.fr = "Si votre domaine pour Synapse est un sous-domaine, vous pouvez choisir un nom pour votre serveur Synapse afin que vos identifiants Matrix soient @utilisateur:domain.org plutôt que @utilisateur:synapse.domain.org. Laissez la valeur vide afin d'utiliser le même nom que le domaine."
    type = "string"
    example = "domain.org"
    default = ""
    optional = true

    [install.is_free_registration]
    ask.en = "Is it a server with free registration?"
    ask.fr = "Est-ce un serveur avec création de compte libre ?"
    help.en = "A public server means that anybody will be able to register on this server."
    help.fr = "Un serveur public signifie que n'importe qui pourra s'enregistrer sur ce serveur."
    type = "boolean"
    default = false

    [install.init_main_permission]
    help.en = "Define the users allowed to access to synapse. Setting this to 'visitors' don't make sens in this case."
    type = "group"
    example = "all_users"
    default = "all_users"

[resources]
    [resources.sources.synapse_prebuilt_armv7_bookworm]
    prefetch = false
    armhf.url = "https://github.com/YunoHost-Apps/synapse_python_build/releases/download/v1.148.0/matrix-synapse_1.148.0-bookworm-bin1_armv7l.tar.gz"
    armhf.sha256 = "0f1285e6d2a7f3266b1ef8b289bc5cce1e7d60d612117bd4cc6a6b9191b73426"

    [resources.sources.synapse_prebuilt_armv7_trixie]
    prefetch = false
    armhf.url = "https://github.com/YunoHost-Apps/synapse_python_build/releases/download/v1.148.0/matrix-synapse_1.148.0-trixie-bin1_armv7l.tar.gz"
    armhf.sha256 = "04cbdbd71452b8d66d1b7b81ac2d77aad3be58e0d832803d9e82dfcd7cfc08bc"

    [resources.sources.lk_jwt]
    prefetch = true
    extract = true

    url = "https://github.com/element-hq/lk-jwt-service/archive/refs/tags/v0.4.1.tar.gz"
    sha256 = "bded9f3390145a966b1afd6a3f9b7027a6d9b437b0caa5bd64ebe99573c26902"

    [resources.sources.livekit]
    prefetch = true
    extract = true
    in_subdir = false

    amd64.url = "https://github.com/livekit/livekit/releases/download/v1.9.11/livekit_1.9.11_linux_amd64.tar.gz"
    amd64.sha256 = "9aec26a7a3a2ece916711792070b4db1eeb39ec3b3914e84b0b4f0e5d4d70d6d"
    arm64.url = "https://github.com/livekit/livekit/releases/download/v1.9.11/livekit_1.9.11_linux_arm64.tar.gz"
    arm64.sha256 = "1ce2d5a78906aac7e3208db72e7f3c5e966261090dbe69ba341a74041d8f5115"
    armhf.url = "https://github.com/livekit/livekit/releases/download/v1.9.11/livekit_1.9.11_linux_armv7.tar.gz"
    armhf.sha256 = "3524580b3cd36eb80d6f69369555147be97a37817ed76bb73b6c5fd0cdae0e7e"

    [resources.system_user]
    allow_email = true
    home = "/var/www/__APP__"

    [resources.install_dir]
    dir = "/var/www/__APP__"
    owner = "__APP__:rwx"
    group = "www-data:r-x"

    [resources.data_dir]
    dir = "/home/yunohost.app/__APP__"

    [resources.permissions]
    main.url = "/"
    main.additional_urls = ["/_matrix/cas_server.php/login"]
    main.label = "Server SSO"
    main.auth_header = true
    main.show_tile = false
    main.protected = true

    server_api.url = "/_matrix"
    server_api.additional_urls = ["/client"]
    server_api.label = "Server access for client apps"
    server_api.allowed = "visitors"
    server_api.auth_header = false
    server_api.show_tile = false
    server_api.protected = true

    admin_api.url = "/_synapse"
    admin_api.label = "Admin API"
    admin_api.allowed = "visitors"
    admin_api.auth_header = false
    admin_api.show_tile = false
    admin_api.protected = true

    server_client_infos.url = "/.well-known/matrix"
    server_client_infos.allowed = "visitors"
    server_client_infos.auth_header = false
    server_client_infos.show_tile = false
    server_client_infos.protected = true

    livekit.url = "/livekit"
    livekit.label = "Element call backend"
    livekit.allowed = "visitors"
    livekit.auth_header = false
    livekit.show_tile = false
    livekit.protected = true

    [resources.ports]
    synapse_tls.default = 8448
    synapse_tls.exposed = "TCP"
    synapse.default = 8008
    turnserver_tls.default = 5349
    turnserver_tls.exposed = "Both"
    turnserver_alt_tls.default = 5350
    turnserver_alt_tls.exposed = "Both"
    cli.default = 5766
    livekit.default = 7880
    livekit_rtc.default = 7881
    livekit_rtc.exposed = "TCP"
    livekit_jwt.default = 8080

    [resources.apt]
    packages = ["coturn", "acl", "postgresql", "php8.4-fpm",
                "python3-dev", "python3-venv", "python3-pip", "python3-setuptools", "python3-lxml",
                "build-essential", "libffi-dev", "libssl-dev", "libxml2-dev", "libxslt1-dev", "zlib1g-dev", "libjpeg-dev", "libpq-dev"]

    [resources.database]
    type = "postgresql"

    [resources.go]
    version = "1.25"
